# Visual Studio
.vs/

# Build
bin/
obj/

# User files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# NuGet
*.nupkg
packages/
*.snupkg

# Publish
publish/

# IDE extras
*.cache
*.tmp
*.dbmdl

# OS
.DS_Store
Thumbs.db
